.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;

        @media screen and (max-width: 767px) {
            padding: 20px 0;
        }
    }
}

.logotype {
    display: flex;

    @media screen and (max-width: 767px) {
        max-width: 68px;
        width: 100%;
    }

    &__text {
        position: relative;
        display: block;
        padding-left: 12px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 2px;
            height: 100%;
            background: $linear-gradient;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}